.cardsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 90vh;

    background-image: url('../../img/bg2.jpg');
    background-size: cover;
    background-position: center;
}