button {
    padding: 6px 38px;
    outline: none; 
    color: #cfc1c1;    
}

.delete {
    background: rgb(37 32 58 / 37%);
    border: 1px solid #e30050;
}

.edit {
    background:  rgb(230 0 90 / 57%);
    border: 1px solid rgb(37 32 58 / 95%);
}

.save,
.add {
    background-color:  rgb(143 142 185 / 76%);;
    border: 1px solid #cfc1c1;
}

.cancel {
    background: rgb(220 0 64 / 53%);;
    border: 1px solid #cfc1c1;
}

.disabled {
    background-color: rgb(165 156 156 / 42%);
    border: none;
    color:#cfc1c1b5;
}
