.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    max-width: 197px;
    min-width: 150px;
    min-height: 180px;
    border-radius: 8px;
    margin: 0 auto;
}


.translation {
    margin: 20px;
    background: #69b169;
}

.checkBtn{
    margin: 20px;
    background: #69b169;
    border: none;
    &:active {
        outline: none;
        border: none;
    }
}
