.mainPageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    height: 90vh;
    background-image: url('../../img/background.jpg');
    background-size: cover;
    background-position: center;
}