.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background: linear-gradient(to bottom right, #c18f8f94, #0082aaad);
    // background-color: #0082aa;
    width: 197px;
    min-height: 180px;
    border-radius: 8px;
    margin: 0 auto;
}


.translation {
    // padding: 20px;
    color: #f7f7f7;
    font-weight: 700;
    font-size: 20px;
}

.checkBtn{
    margin: 20px;
    background: #69b169;
    background: linear-gradient(to bottom right,  #9acdae, #e2ca66);
    border: none;
    &:active {
        outline: none;
        border: none;
    }
}


