.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #beb8b8;
  max-height: 93px;
}

.header.fixedHeader {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.header__wrapper {
  margin: 0px 100px 0px;
}

.headerContent {
  margin: 0 100px;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 37px;
}

.nav a {
  text-decoration: none;
  color: #494242;
  font-size: 18px;
  transition: font-size 0.7s ease;
}

.nav a:hover {
  font-size: 20px;
}
