.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #beb8b8;
}

.nav {
    display: flex;
    gap: 37px;
    a {
        text-decoration: none;
        color: #494242;
        font-size: 18px;
        transition: font-size 0.7s ease;
        &:hover {
            font-size: 20px;
        }
    }  
}


