.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 93px;
    height: 9vh;
    background: #5e103ebf;
    // transition: top 0.3s;
    
}

.header.fixedHeader {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header__wrapper {
margin: 0px 100px 0px;
}

.headerContent {
    margin: 0 100px; 
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav {
    display: flex;
    gap: 37px;
    a {
        text-decoration: none;
        color: #d4cccc;
        font-size: 18px;
        transition: font-size 0.7s ease;
        &:hover {
            font-size: 20px;
        }
    }  
}

//не работает
.header__listItem {
    color: red;
  }
