.buttonManage {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    gap: 10px;  
}

input {
    background-color: #60669d24;
    color:#cfc1c1;
    border:1px solid#cfc1c1;
}