.sliderBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}

.buttonRadius {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    background-color: #b9b9b9;
    border: none;
    cursor: pointer; 
}

